@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overscroll-behavior: none;
}

.homepage-container {
  min-height: 100vh;
  height: 100vh;
  background-image: linear-gradient(to right, #191910, #191912);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: auto;
  overflow-y: scroll;
  gap: 2rem;
}

.detail-container {
  min-height: 100vh;
  height: fit-content;
  background-image: linear-gradient(to right, #191910, #191912);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100%;
}

.profile-container {
  @apply bg-displayBlack;
  min-height: 100vh;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@layer components {
  .search-filter-container {
    @apply flex flex-row flex-wrap p-4 gap-2;
  }
  .search-filter-button {
    @apply text-white rounded-full pr-4 pl-4 pt-1 pb-1;
    background-image: linear-gradient(to right, #454539, #454541);
  }
  .search-filter-button:hover {
    background-image: linear-gradient(to right, #5b5b4e, #5b5b51);
    transform: scale(1.03);
  }
  .search-filter-button-selected {
    @apply text-black rounded-full pr-4 pl-4 pt-1 pb-1;
    background-image: linear-gradient(to right, #e0e0d2, #e0e0d7);
  }
  /* .search-filter-button-selected:hover {
    background-image: linear-gradient(to right, #5b5b4e, #5b5b51);
    transform: scale(1.03);
  } */
}
