@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

@layer components {
  .top-parent {
    @apply flex flex-col w-full h-full;
  }
  .search-bar-container {
    /* Default style for mobile */
    @apply h-[8vh] w-[100%] flex flex-row justify-between overflow-hidden bg-black;
    /* Style for sm breakpoint and above */
    @apply sm:h-[8vh] bg-black;
    /* Style for lg breakpoint */
    @apply lg:h-[10vh] bg-black;
  }
  .app-container {
    @apply flex flex-col bg-black w-full overflow-hidden min-h-full;
    overflow-y: hidden;
  }

  .playbar-container {
    @apply w-full bg-black;
  }

  .app-container > * {
    @apply rounded-t-lg overflow-y-scroll h-full;
  }
}
